/*
 *    ____    _                        __     _      _____
 *   / ___\  /_\     /\/\    /\ /\    /__\   /_\     \_   \
 *   \ \    //_\\   /    \  / / \ \  / \//  //_\\     / /\/
 * /\_\ \  /  _  \ / /\/\ \ \ \_/ / / _  \ /  _  \ /\/ /_
 * \____/  \_/ \_/ \/    \/  \___/  \/ \_/ \_/ \_/ \____/
 *
 * Copyright Samurai development team and other contributors
 *
 * http://www.samurai-framework.com
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

html {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementHtml';
}

head {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

title {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

meta {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

base {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

link {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

style {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

script {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

body {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementBody';
}

element {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementElement';
}

template {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementTemplate';
}

article {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementArticle';
}

aside {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementAside';
}

div {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementDiv';
}

footer {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementFooter';
}

header {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementHeader';
}

hgroup {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementHgroup';
}

main {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementMain';
}

nav {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementNav';
}

section {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementSection';
}

span {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementSpan';
}

dir {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementDir';
}

ul {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementUl';
}

ol {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementOl';
}

li {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementLi';
}

dl {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementDl';
}

dt {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementDt';
}

dd {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementDd';
}

table {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementTable';
}

caption {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementCaption';
}

thead {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementThead';
}

tbody {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementTbody';
}

tfoot {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementTfoot';
}

tr {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementTr';
}

td {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementTd';
}

th {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementTh';
}

col {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementCol';
}

colgroup {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementColgroup';
}

form {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementForm';
}

fieldset {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementFieldset';
}

legend {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementLegend';
}

keygen {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

menu {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

menuitem {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

button {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementButton';
}

canvas {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementCanvas';
}

datalist {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementDatalist';
}

img, image {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementImg';
}

input, input[type="text"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Text';
}

input[type="button"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Button';
}

input[type="checkbox"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Checkbox';
}

input[type="file"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_File';
}

input[type="hidden"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Hidden';
}

input[type="image"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Image';
}

input[type="password"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Password';
}

input[type="radio"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Radio';
}

input[type="reset"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Reset';
}

input[type="submit"] {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementInput_Submit';
}

label {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementLabel';
}

output {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementOutput';
}

progress {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementProgress';
}

select {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementSelect';
}

optgroup {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

option {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

textarea {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementTextarea';
}

time {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementTime';
}

meter {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementMeter';
}

h1 {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementH1';
}

h2 {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementH2';
}

h3 {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementH3';
}

h4 {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementH4';
}

h5 {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementH5';
}

h6 {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementH6';
}

hr {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementHr';
}

a {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

b {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

i {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

q {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

u {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

wbr {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

abbr {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

address {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

acronym {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

code {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementCode';
}

strong {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

small {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

big {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

del {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

ins {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

s, strike {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

rp {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

rt {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

ruby {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

em {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

tt {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

cite {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

dfn {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

kbd {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

samp {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

var {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

mark {
   -applet-view-hierarchy: 'branch';
   -applet-view-class: 'UIView';
}

sub {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementSub';
}

sup {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementSup';
}

basefont {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

font {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

bdi {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

bdo {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

br {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementBr';
}

blockquote {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementBlockquote';
}

p {
   -applet-view-hierarchy: 'tree';
   -applet-view-class: 'IDEAAppletHtmlElementP';
}

pre {
   -applet-view-hierarchy: 'leaf';
   -applet-view-class: 'IDEAAppletHtmlElementPre';
}

figcaption {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

figure {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

details {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

summary {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

area {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

map {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

frame {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

frameset {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

iframe {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

noframes {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

noscript {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

dialog {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

object {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

param {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

audio {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

source {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

video {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

track {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

applet {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

command {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}

embed {
   -applet-view-hierarchy: 'hidden';
   -applet-view-class: 'UIView';
}
